<link href="https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro?styles=82961,82967,82965,82963,82959" rel="stylesheet">
{{ 'header.css' | asset_url | stylesheet_tag }}

<header class="relative bg-white custom-header" x-data="{ mobileMenuOpen: false }" header--{{ section.settings.logo_position }} header--mobile-{{ section.settings.mobile_logo_position }}>
  <div class="inner-header" x-data="{ mobileMenuOpen: false }">
    <div class="relative" x-data="{ isOpen: false}">
                    <button 
                            @click="isOpen = !isOpen" 
                            @keydown.escape="isOpen = false" 
                            class="flex items-center" 
                    >
                        <img src="http://www.gravatar.com/avatar?d=mm" alt="avatar" class="w-8 h-8 rounded-full">
                      
                    </button>
                    <ul x-show="isOpen"
                        @click.away="isOpen = false"
                        class="absolute font-normal bg-white shadow overflow-hidden rounded w-48 border mt-2 py-1 right-0 z-20"
                    >
                        <li>
                            <a href="#" class="flex items-center px-3 py-3 hover:bg-gray-200">
                                
                                <span class="ml-2">Account</span>
                            </a>
                        </li>
                        <li class="border-b border-gray-400">
                            <a href="#" class="flex items-center px-3 py-3 hover:bg-gray-200">
                              
                                <span class="ml-2">Settings</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="flex items-center px-3 py-3 hover:bg-gray-200">
                                <span class="ml-2">Logout</span>
                            </a>
                        </li>
                    </ul>
                </div>
      <!-- STORE NAME / STORE LOGO -->
      <div class="logo-wrap">
        <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
            {%- if settings.logo != blank -%}
              <div class="header__heading-logo-wrapper">
                {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
                {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
                {% capture sizes %}(max-width: {{ settings.logo_width | times: 2 }}px) 50vw, {{ settings.logo_width }}px{% endcapture %}
                {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
                {{ settings.logo | image_url: width: 600 | image_tag:
                  class: 'header__heading-logo motion-reduce',
                  widths: widths,
                  height: logo_height,
                  width: settings.logo_width,
                  alt: logo_alt,
                  sizes: sizes,
                  preload: true
                }}
              </div>
            {%- else -%}
              <span class="h2">{{ shop.name }}</span>
            {%- endif -%}
          </a>
      </div>

      <div class="menu-burger">
        <button
          x-on:click="mobileMenuOpen = true"
          type="button"
          class=""
        >
          {% render 'icon-menu' %}
        </button>
      </div>
      <!-- NAVIGATION MENU -->
      <nav class="navigation-menu" >

        {% if section.settings.menu.links == blank %}
          {% assign main_menu_linklist = linklists[section.settings.menu].links %}
        {% else %}
          {% assign main_menu_linklist = section.settings.menu.links %}
        {% endif %}

        {% for link in main_menu_linklist %}

          {% if link.links != blank %}
            {% assign link_handle = link.handle | replace: '-', '_' %}

            <div class="relative"  @click="isOpen = !isOpen" 
            @keydown.escape="isOpen = false" >
              <button
                type="button"
                @click="open = ! open"
                class="dropdown nav-link"
              >
                {{ link.title }}
                {% render 'icon-dropdown' %}
              </button>

              <div
                style="display: none;"
                x-show="isOpen"
                        @click.away="isOpen = false"
                
                class="dropdown-menu absolute z-10 -ml-5 mt-5 transform px-2 w-screen max-w-md sm:px-0 lg:ml-0 lg:left-1/2 lg:-translate-x-1/2"
              >
                <div class="shadow-lg border ring-black ring-opacity-5 overflow-hidden rounded-lg">
                  <div class="relative grid gap-6 bg-white px-5 py-6 sm:gap-8 sm:p-8">
                    {% for childlink in link.links %}
                      <a href="{{ childlink.url }}" class="nav-link">
                        <div class="ml-4">
                          <p class="text-gray-900 text-base font-medium">
                            {{ childlink.title }}
                          </p>
                        </div>
                      </a>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>

          {% else %}
            <a href="{{ link.url }}" class="nav-link">{{ link.title }}</a>
          {% endif %}
        {% endfor %}
      </nav>
      <!-- CART BUTTON / ACCOUNT LINKS IF ENABLED -->
      <div class="hidden md:flex items-center justify-end md:flex-1 space-x-5">
        <a href="{{ routes.cart_url }}" class="whitespace-nowrap text-base text-gray-500 hover:text-gray-900">
          {% render 'icon-shopping-bag' %}
        </a>

        {% if shop.customer_accounts_enabled %}
          {% if customer %}
            <a href="{{ routes.account_url }}" class="text-base text-gray-500 hover:text-gray-900">account</a>
            {{
              'Log out'
              | customer_logout_link
              | replace: '<a', '<a class="text-base text-gray-500 hover:text-gray-900"'
            }}
          {% else %}
            {{
              'Log in '
              | customer_login_link
              | replace: '<a', '<a class="text-base text-gray-500 hover:text-gray-900"'
            }}
            {{
              'Register'
              | customer_register_link
              | replace: '<a', '<a class="text-base text-gray-500 hover:text-gray-900"'
            }}
          {% endif %}
        {% endif %}
      </div>

      <!-- MOBILE MENU CONTAINER -->
      <div x-show="mobileMenuOpen" class="mobileMenu  inset-x-0 p-2 transform origin-top-left md:hidden">
        <div class="shadow-lg rounded-lg ring-1 ring-black ring-opacity-5 bg-white w-full">
          <div class="p-5 divide-y-2 divide-gray-50">
            <!-- MOBILE MENU HEADER TITLE PLUS CLOSE BUTTON -->

            <div class="flex items-center justify-between pb-3">
              <div>
                <h1 class="text-lg text-gray-500">{{ section.settings.mobile_menu_title }}</h1>
              </div>
              <div class="-mr-2">
                <button x-on:click="mobileMenuOpen = false" type="button" class="bg-white rounded-md p-2 text-gray-500">
                  {% render 'icon-close' %}
                </button>
              </div>
            </div>

            <!-- NAVIGATION LINKS FOR MOBILE MENU -->
            <div class="pt-3">
              <nav class="grid gap-y-7">
                {% if section.settings.menu.links == blank %}
                  {% assign main_menu_linklist = linklists[section.settings.menu].links %}
                {% else %}
                  {% assign main_menu_linklist = section.settings.menu.links %}
                {% endif %}
                {% for link in main_menu_linklist %}
                  {% if link.links != blank %}
                    {% assign mobile_link_handle = link.handle | replace: '-', '_' %}
                    <div class="relative" x-data="{ {{ mobile_link_handle }}: false }">
                      <button
                        x-on:click="{{ mobile_link_handle }} = ! {{ mobile_link_handle }}"
                        type="button"
                        class="text-base text-gray-500 hover:text-gray-900 flex items-center justify-between w-full"
                      >
                        <div>{{ link.title }}</div>
                        {% render 'icon-dropdown' %}
                      </button>

                      <div x-show="{{ mobile_link_handle }}" class="grid gap-y-7 py-3">
                        {% for childlink in link.links %}
                          <a
                            href="{{ childlink.url }}"
                            class="-m-3 p-3 mt-2 flex items-center rounded-md text-gray-500 hover:text-gray-900 hover:bg-gray-50"
                          >
                            <span class="ml-3 text-base font-medium text-gray-500">{{ childlink.title }}</span>
                          </a>
                        {% endfor %}
                      </div>
                    </div>
                  {% else %}
                    <a
                      href="{{ link.url }}"
                      class="-m-3 p-3 flex items-center rounded-md text-gray-500 hover:text-gray-900 hover:bg-gray-50"
                    >
                      {{ link.title }}
                    </a>
                  {% endif %}
                {% endfor %}
              </nav>
            </div>
          </div>
        </div>
      </div>
  </div>
</header>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "text",
      "id": "mobile_menu_title",
      "default": "Menu",
      "label": "Mobile Menu Title"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "Heading Navigation Menu"
    }
  ]
}
{% endschema %}
